.Cart{
    display: flex;
    margin-right: 20px;
    gap: 10px;
}
.Cart button{
    border-radius: 10px;
    background: none;
}
.Cart button svg{
    display: flex;
    justify-content: center;
}
.Cart p{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}