.logo{
  width: 100%;
  padding-left: 1rem;}

.nav{
  background-color: #fff;}

.navbar{
  height: 50px;
  padding: 2px;
  background: #fff;
  box-shadow: 10px 10px 20px #bebebe,
  -10px -10px 20px #ffffff;
  position: sticky;
  width: 100%;
  z-index: 2;
  margin-bottom: 10px;}

.container-fluid{
  padding: 0;}

.navbarDark{
  height: 50px;
  padding: 2px;
  background: #0000009b;
  box-shadow: 7px 7px 15px #202020,             -7px -7px 15px #303030;
  position: sticky;
  width: 100%;
  z-index: 2;
  margin-bottom: 10px;}

.buttonTogglerDark{
  background-color: #bebebe;}

.navDark{
  background-color: #0000009b;}