.cardProductos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4px;
}
.cardProducto{
    width: 18rem;
    margin: 4px;
}
.cardBody{
    margin-bottom: 3px;
    text-align: center;
}

.cardProducto img{
    margin-top: 3px;
}
.cardBodyDark{
    background-color: black;
    margin-top: 3px;
    text-align: center;
}
.itemDetail{
    max-width: 840px;
    margin-top: 20px;
}
.itemDetailBodyDark{
    max-width: 840px;
    margin-top: 20px;
    background-color: black;
    color: white;
}

.darkMode{
    background-color: black;
    color: gray;
}